.white {
  color: white
}

.log-container{
  max-height: 150px;
  width: 20%;
  padding: 10px;
  overflow: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  text-align: center;
}
.btn-container{
  display: flex;
}
